// background colors:
$background-dark: #1d1d1d;
$background-dlight: #2c2c2c;
$background-primary: #0088dd;
$background-primary-light: #47b8ff;

// foreground colors:
$foreground-light: white;

// page gutter sizes:
$page-gutter-left: 5%;
